* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-image: url("image/festival_bg.jpg");
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-attachment: fixed;
    background-size: cover;
    text-rendering: optimizeLegibility;
}


/*----nav bar----*/

/* Add a black background color to the top navigation */
header {
    background-color: #333;
    font-family: 'Limelight', cursive;
    color: #ebd532;
    width: 100%;
    position: fixed;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3)
}

main {
    padding-top: 119px;
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

header>div {
    align-items: center;
    background-color: black;
}

header>div p {
    font-size: 20px;
}

nav {
    position: relative;
    color: #ebd532;
}

.topnav {

    justify-content: space-around;

}

/* Style the links inside the navigation bar */
.topnav a {
    color: #ebd532;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: color ease 0.4s;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Add a color to the active/current link */
.topnav a:active {
    background-color: #ebd532;
    color: black;
}

/*mobile menu*/
.open {
    display: none;
}

#mobile-nav {
    display: none;
}

/*----nav bar----*/
/*---- hero ----*/

.hero,
.présentation {
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #ebd532;
    height: 50vh;
    font-family: 'Limelight', cursive;
    line-height: 1.5em;
}

.hero h1 {
    font-size: 30px;
    overflow: hidden;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 24px;
    font-weight: 300;
}

.hero a {
    color: white;
    background-color: #333;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: calc(0.25rem - 1px);
    margin: 10px;
    text-decoration: none;
    transition: color ease 0.4s;
}

/*---- hero ----*/
/*---- section ----*/

section {
    padding: 20px 20px;
}

section h2,
h3,
h4 {
    color: #ebd532;
    text-align: center;
    font-family: 'Limelight', cursive;
    margin: 10px;
}

.présentation,
#actualité,
#information {
    background-color: #333;
}

#programmation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.présentation>* {
    margin: 10px;
}

.présentation q {
    font-style: italic;
}

/*------ section -----*/
/*------ film ------*/

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    max-width: 1340px;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid #111;
    border-radius: calc(0.25rem - 1px);
    box-shadow: 0px 0px 5px #777;
}

.card img {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-content {
    background-color: #f2f2f2;
}

.card h4 {
    text-shadow: 1px 1px 2px #333;
}

.card div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    flex: 1;
}

.card div>* {
    margin-bottom: 10px;
}


.card p {
    font-family: "Montserra", sans-serif;
    text-align: justify;
}

.card>div>p:first-of-type {
    text-align: center;
    font-weight: 600;
}

.card a {
    margin-top: auto;
    color: white;
    background-color: #333;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: calc(0.25rem - 1px);
    text-decoration: none;
    text-align: center;
    font-family: 'Limelight', cursive;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    transition: color ease 0.4s;
}

.card a:hover,
.hero a:hover {
    background-color: #ebd532;
    color: black;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #ebd532;
    border-radius: 3px;
}

/*-----article------*/

#actualité {
    flex-direction: column;
    align-items: center;
}

#actualité>div {
    display: flex;
    justify-content: center;
    max-width: 1250px;
}

article {
    width: calc(100%/3);
    margin: 10px;
}

article img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

article p {
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

article div>* {
    margin: 10px;
}

/*------article------*/

#information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information_container {
    width: 1250px;
}

.information_container_1,
.information_container_2 {
    width: 50%;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

}

.information_container_1 p {
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.information_container_1 a {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    color: white;
}

.information_container_2 iframe {
    box-shadow: 0px 0px 10px black;
    border-radius: calc(0.25rem - 1px);
    width: 100%;
}

/*------form------*/

.container_form {
    display: flex;
    justify-content: center;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: calc(0.25rem - 1px);
    background-color: #f2f2f2;
    font-family: "Montserrat";
    padding: 20px;
    max-width: 700px;
    margin: 20px;
}

form>div>div {
    max-width: 300px;
    padding: 5px;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=number],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: calc(0.25rem - 1px);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    font-family: 'Limelight', cursive;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    outline: none;
    border: none;
    color: white;
    background-color: #333;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: calc(0.25rem - 1px);
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
    transition: color ease 0.4s;
}

input[type=submit]:hover {
    background-color: #ebd532;
    color: black;
    margin-right: auto;
    margin-left: auto;
}

form>div:nth-child(2n) {
    display: flex;
    justify-content: center;
}

form>div:nth-child(2n)>* {
    margin: 10px 5px;
}

/*------footer------*/
footer p {
    text-align: center;
    margin: 10px;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}



@media screen and (max-width: 1320px) {

    #programmation {
        align-items: unset;
    }

    .information_container {
        max-width: 100%;
    }

}

@media screen and (max-width: 1050px) {

    .information_container {
        flex-direction: column;
        align-items: center;
    }

    .information_container_1,
    .information_container_2 {
        width: 100%;
    }

    #actualité>div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        max-width: 1250px;
    }

    article {
        width: 45%;
        margin: 10px;
    }

}


@media screen and (max-width: 810px) {

    .open {
        display: inline-block;
        color: #ebd532;
        font-size: 1.1em;
        border: 0.1em solid #ebd532;
        text-decoration: none;
        background: #333;
        overflow-y: hidden;
        vertical-align: middle;
        padding: 10px 10px;
    }

    #topnav:target {
        display: flex;

    }

    nav {
        text-align: center;
    }

    .topnav {
        display: none;
        flex-direction: column;
        background-color: hsla(0, 0%, 0%, 0.9);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 40%;
        padding: 4em 2em 1em 2em;
    }

    .information_container_1,
    .information_container_2 {
        max-width: 80%;
    }

    #actualité>div {
        display: flex;
        flex-direction: column;
        max-width: 1250px;
    }

    article {
        width: 100%;
        margin: 10px;
    }

}

@media screen and (max-width: 488px) {

    form>div {
        flex-direction: column;
    }

}